{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% import '@SyliusAdmin/shared/helper/pagination.html.twig' as pagination %}
{% from '@SyliusAdmin/shared/helper/accordion.html.twig' import accordion %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}
    {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}

    <div class="page-wrapper">
        <div class="container-xl my-3">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <a class="btn btn-danger" href="{{ path('locastic_sylius_translations_admin_clear_cache') }}">{{ 'locastic_sylius_translation.ui.clear_cache'|trans }}</a>
                        </div>
                    </div>

                    <div>
                        <div class="mb-3">
                            {{ form_start(searchForm) }}
                                {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': searchForm.search.vars.label}}) }}
                            {{ form_end(searchForm) }}
                        </div>

                        <div class="mb-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    {{ pagination.simple(translations) }}
                                </div>
                            </div>
                        </div>

                        {% if translations|length > 0 %}

                            {% set accordionItems = [] %}

                            {% for translation in translations %}

                                {% set title %}
                                    <div class="h3">
                                        <span class="badge bg-blue">{{ 'locastic_sylius_translation.ui.message_domain'|trans }}</span>&nbsp;{{ translation.domainName }}
                                        <span class="badge bg-black">{{ 'locastic_sylius_translation.ui.message_id'|trans }}</span>&nbsp;{{ translation.key }}
                                    </div>
                                {% endset %}

                                {% set content %}
                                    <div class="card mb-3">
                                        {% set themes = locastic_sylius_translation_get_themes() %}
                                        <div class="card-header">
                                            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                                                {% for theme in themes %}
                                                    <li class="nav-item">
                                                        <a class="nav-link {% if loop.index0 == 0 %}active{% endif %}" data-bs-toggle="tab" href="#{{ theme.name|replace({'/': '_'}) }}" role="tab">
                                                            {{ theme.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        {% for theme in themes %}
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="row">
                                                        {% for translationValue in translation.valuesByTheme(theme.name) %}
                                                            <div class="form col-md-6 js-save-translations"
                                                                 data-url="{{ path('locastic_sylius_translation_admin_ajax_update') }}"
                                                                 id="{{ theme.name|replace({'/': '_'}) }}"
                                                            >
                                                                <div class="field">
                                                                    <label class="form-label" for="translations_{{ translation.domainName }}_{{ translation.key }}_{{ translationValue.localeCode }}">
                                                                        <b>{{ translationValue.localeCode }}</b>
                                                                    </label>
                                                                    <textarea id="translations_{{ translation.domainName }}_{{ translation.key }}_{{ translationValue.localeCode }}"
                                                                              name="translations{{ translationValue|locastic_symfony_translation_value_field_name }}"
                                                                              rows="6" cols="45" class="form-control js-translation-input"
                                                                    >
                                                                        {{- translationValue.value -}}
                                                                    </textarea>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endset %}

                                {% set accordionItems = accordionItems|merge([{title: title, content: content, open: false}]) %}
                            {% endfor %}
                            {{ accordion(accordionItems, false, null, true) }}
                        {% else %}
                            {{ 'sylius.ui.no_results_to_display'|trans }}
                        {% endif %}
                        {{ pagination.simple(translations) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/locasticsyliustranslationplugin/admin/locastic-translation-plugin.js') }}"></script>
{% endblock %}
